@model HelloMVCWorld.Models.Movie
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>@Model.Title</title>
</head>
<body>

@{
    var helloWorldMsg = "Good day";
    if(DateTime.Now.Hour > 17)
    {
        helloWorldMsg = "Good evening";
    }
    helloWorldMsg += ", world!";
    helloWorldMsg = helloWorldMsg.ToUpper();
}
<div>
    @helloWorldMsg
</div>


</body>
</html>
